.row {
    margin: 0 auto;
    max-width: $grid-width;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    //select elements where attribute starts with col
    [class^="col-"] {
        float:left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
}