.header {
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)
    ), 
    url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    /* bennettfeely.com/clippy */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height:95vh;
    position: relative;

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        left: 4rem;
        position: absolute;
        top: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        left: 50%;
        position: absolute;
        text-align:center;
        top: 40%;
        /* top left from parent, transform from itself */
        transform: translate(-50%, -50%);
    }
}