.feature-box {
    background-color: rgba($color-white, .8);
    border-radius: 3px;
    box-shadow: $default-box-shadow;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    transition: transform .3s;

    &__icon {
        background-image: linear-gradient(to right,$color-primary-light, $color-primary-dark);
        color: transparent;
        display: inline-block;
        font-size: 6rem;
        margin-bottom: .5rem;
        -webkit-background-clip: text;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}