*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

html {
    /* 10px previously px / 16px in body = 1 rem*/
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; //1 rem = 9px; 9/16 = 56%
    }

    @include respond(tab-port) {
        font-size: 50%; //1 rem = 8px; 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}