.section-about {
    background-color: $color-grey-light-1;
    // margin-top to merge the clip path polygon
    //95vh header height - 75 vh of clip path
    margin-top: -20vh;
    padding: 25rem 0;  
}

.section-features {
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)
    ), 
    url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    padding: 20rem 0;
    //it's the same of clip property
    transform: skewY(-7deg);

    //all children of this section
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    margin-top: -10rem;
    padding: 25rem 0 15rem 0; 
}

.section-stories {
    margin-top: -10rem;
    padding: 15rem 0; 
    position: relative;
}